body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.centered-image {
  max-width: 25%; /* Adjust the size of the image as needed */
  max-height: 25%; /* Adjust the size of the image as needed */
  position: relative; /* Ensure positioning works */
  right: 0%; /* Move the image horizontally */
  top: -25%; /* Move the image vertically */
}

.WebTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
}

.title-image {
  max-width: 27.5%; /* Adjust the size of the image as needed */
  max-height: 27.5%; /* Adjust the size of the image as needed */
}

.sound-image {
  position: absolute;
  left: calc(50% + 20%); /* Adjust the value to move the image to the left or right */
  top: 5%;
  transform: translateY(-50%);
  max-width: 40%; /* Adjust the size to match the title image */
  max-height: 40%; /* Adjust the size to match the title image */
  cursor: pointer;
}

.slider-container {
  transform: translateY(-50%);
}

.slider {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 10%; /* Decrease the width to decrease the hover range */
  height: 10%; /* Decrease the height to decrease the hover range */
  top: 4%; /* Adjust the top position as needed */
  right: 14%; /* Adjust the right position as needed */
  /*transform: rotate(90deg);*/ /* Rotate the slider 90 degrees clockwise */
}
.slider-control {
  width: 50%; /* Adjust the width of the slider control */
}