body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
}
.centered-image {
	max-width: 25%;
	
	max-height: 25%;
	
	position: relative;
	
	right: 0%;
	
	top: -25%;
	
}
.WebTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0%;
}
.title-image {
	max-width: 27.5%;
	
	max-height: 27.5%;
	
}
.sound-image {
	position: absolute;
	left: calc(50% + 43%);
	top: 5.125%;
	transform: translateY(-50%);
	max-width: 40%;
	max-height: 40%;
	transition: left 0.5s;
	
}
.slider-container {
	transform: translateY(-50%);
}
.slider {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 10%;
	
	height: 10%;
	
	top: 4.05%;
	
	right: 0%;
	
}
.slider-control {
	width: 50%;
	
}
.AButton, .SButton, .DButton, .ZButton, .XButton, .CButton, .SpaceButton, .LeftButton, .DownButton, .RightButton {
	position: absolute;
	transform: scale(3.5);
	
	image-rendering: pixelated;
}
.AButton {
	top: -43%;
	
	right: 69%;
}
.SButton {
	top: -43%;
	
	right: 65.5%;
}
.DButton {
	top: -43%;
	
	right: 62%;
}
.ZButton {
	top: -36.5%;
	
	right: 69%;
}
.XButton {
	top: -36.5%;
	
	right: 65.5%;
}
.CButton {
	top: -36.5%;
	
	right: 62%;
}
.SpaceButton{
	top: -36.5%;
	
	right: 33.75%;
}
.LeftButton {
	top: -43%;
	
	right: 34%;
}
.DownButton {
	top: -43%;
	
	right: 30.5%;
}
.RightButton {
	top: -43%;
	
	right: 27%;
}
.Sixteen {
	position: absolute;
	left: calc(50% + 46.5%);
	top: 5%;
	transform: translateY(-50%);
	max-width: 2.75%;
	max-height: 2.75%;
	transition: left 0.5s;
	
	cursor: pointer;
	image-rendering: pixelated;
}
.note-container {
	text-align: center;
	position: relative;
	
}
.note-text {
	position: absolute;
	top: -35rem;
	
	left: 47.75%;
	transform: translateX(-50%);
	font-family: 'Press Start 2P', cursive;
}
.note-container div {
	display: none;
	
}
.GithubSymbol {
	position: absolute;
	
	top: .85%;
	
	left: 0%;
	transform: translateX(-50%);
	
	transform: scale(0.75);
	image-rendering: pixelated;
	cursor: pointer;
}
.LinkedinSymbol {
	position: absolute;
	
	top: .5%;
	
	left: 3.25%;
	transform: translateX(-50%);
	
	transform: scale(0.72);
	image-rendering: pixelated;
	cursor: pointer;
}

@media (max-width: 1680px) {
	.AButton,.SButton,.DButton,.ZButton,.XButton,.CButton,.SpaceButton,.LeftButton,.DownButton,.RightButton{
		transform: scale(3);
		
	}
	.GithubSymbol{
		transform: scale(0.7);
		
	}
	.LinkedinSymbol{
		transform: scale(0.68);
		
	}
	.LeftButton{
		right: 35%;
	}
	.DownButton{
		right: 31.5%;
	}
	.RightButton{
		right: 28%;
	}
	.ZButton,.XButton,.CButton,.SpaceButton{
		top: -37.5%;
		
	}
}

@media (max-width: 1600px) {
	.AButton,.SButton,.DButton,.ZButton,.XButton,.CButton,.SpaceButton,.LeftButton,.DownButton,.RightButton{
		transform: scale(2.9);
		
	}
	.GithubSymbol{
		transform: scale(0.7);
		
	}
	.LinkedinSymbol{
		transform: scale(0.68);
		
	}
	.LeftButton{
		right: 35%;
	}
	.DownButton{
		right: 31.5%;
	}
	.RightButton{
		right: 28%;
	}
	.ZButton,.XButton,.CButton,.SpaceButton{
		top: -37%;
		
	}
}

@media (max-width: 1500px) {
	.AButton,.SButton,.DButton,.ZButton,.XButton,.CButton,.SpaceButton,.LeftButton,.DownButton,.RightButton{
		transform: scale(2.75);
		
	}
	.GithubSymbol{
		transform: scale(0.65);
		
	}
	.LinkedinSymbol{
		transform: scale(0.63);
		
	}
	.LeftButton{
		right: 35.5%;
	}
	.DownButton{
		right: 32%;
	}
	.RightButton{
		right: 28.5%;
	}
}

@media (max-width: 1440px) {
	.AButton,.SButton,.DButton,.ZButton,.XButton,.CButton,.SpaceButton,.LeftButton,.DownButton,.RightButton{
		transform: scale(2.6);
		
	}
	.GithubSymbol{
		transform: scale(0.6);
		
	}
	.LinkedinSymbol{
		transform: scale(0.58);
		
	}
	.LeftButton{
		right: 35%;
	}
	.DownButton{
		right: 31.5%;
	}
	.RightButton{
		right: 28%;
	}
	.ZButton,.XButton,.CButton,.SpaceButton{
		top: -37.5%;
		
	}
	.sound-image{
		max-width: 35%;
		max-height: 35%;
	}
	.slider{
		width: 9.5%;
	}
}

@media (max-width: 1366px) {
	.AButton,.SButton,.DButton,.ZButton,.XButton,.CButton,.SpaceButton,.LeftButton,.DownButton,.RightButton{
		transform: scale(2.4);
		
	}
	.GithubSymbol{
		transform: scale(0.55);
		
	}
	.LinkedinSymbol{
		transform: scale(0.52);
		
	}
	.LeftButton{
		right: 35.5%;
	}
	.DownButton{
		right: 32%;
	}
	.RightButton{
		right: 28.5%;
	}
	.sound-image{
		max-width: 3.5%;
		max-height: 3.5%;
	}
	.slider{
		top: 3.95%;
	}
}

@media (max-width: 1280px) {
	.AButton,.SButton,.DButton,.ZButton,.XButton,.CButton,.SpaceButton,.LeftButton,.DownButton,.RightButton{
		transform: scale(2.3);
		
	}
	.GithubSymbol{
		transform: scale(0.52);
		
	}
	.LinkedinSymbol{
		transform: scale(0.51);
		
	}
	.LeftButton{
		right: 35.5%;
	}
	.DownButton{
		right: 32%;
	}
	.RightButton{
		right: 28.5%;
	}
	.sound-image{
		max-width: 3.25%;
		max-height: 3.25%;
	}
}

@media (max-width: 1200px) {
	.AButton,.SButton,.DButton,.ZButton,.XButton,.CButton,.SpaceButton,.LeftButton,.DownButton,.RightButton{
		transform: scale(2.2);
		
	}
	.GithubSymbol{
		transform: scale(0.49);
		
	}
	.LinkedinSymbol{
		transform: scale(0.50);
		
	}
	.LeftButton{
		right: 35.5%;
	}
	.DownButton{
		right: 32%;
	}
	.RightButton{
		right: 28.5%;
	}
	.sound-image{
		max-width: 3%;
		max-height: 3%;
	}
}

@media (max-width: 1024px) {
	.AButton,.SButton,.DButton,.ZButton,.XButton,.CButton,.SpaceButton,.LeftButton,.DownButton,.RightButton{
		transform: scale(1.9);
		
	}
	.GithubSymbol{
		transform: scale(0.45);
		
	}
	.LinkedinSymbol{
		transform: scale(0.44);
		
	}
	.LeftButton{
		right: 36.5%;
	}
	.DownButton{
		right: 33%;
	}
	.RightButton{
		right: 29.5%;
	}
	.ZButton,.XButton,.CButton,.SpaceButton{
		top: -38.5%;
		
	}
}

@media (max-height: 875px) {
	.ZButton,.XButton,.CButton,.SpaceButton{
		top: -37%;
		
	}
	.note-text{
		top: -32rem;
	}
}

@media (max-height: 800px) {
	.ZButton,.XButton,.CButton,.SpaceButton{
		top: -36.75%;
		
	}
	.note-text{
		top: -29.5rem;
	}
}

@media (max-height: 750px) {
	.ZButton,.XButton,.CButton,.SpaceButton{
		top: -36.5%;
		
	}
	.note-text{
		top: -26rem;
	}
}

@media (max-height: 700px) {
	.ZButton,.XButton,.CButton,.SpaceButton{
		top: -36%;
		
	}
	.note-text{
		top: -25rem;
	}
}
