body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  }
  
  .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  }
  
  .centered-image {
  max-width: 25%; /* Adjust the size of the image as needed */
  max-height: 25%; /* Adjust the size of the image as needed */
  position: relative; /* Ensure positioning works */
  right: 0%; /* Move the image horizontally */
  top: -25%; /* Move the image vertically */
  }
  
  .WebTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  }
  
  .title-image {
  max-width: 27.5%; /* Adjust the size of the image as needed */
  max-height: 27.5%; /* Adjust the size of the image as needed */
  }
  
  .sound-image {
  position: absolute;
  left: calc(50% + 43%);
  top: 5.125%;
  transform: translateY(-50%);
  max-width: 40%;
  max-height: 40%;
  transition: left 0.5s; /* Add transition for smooth movement */
  }
  
  .slider-container {
    transform: translateY(-50%);
}

.slider {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 10%; /* Adjust the width as needed */
    height: 10%; /* Adjust the height as needed */
    top: 4.05%; /* Adjust the top position as needed */
    right: 0%; /* Adjust the right position as needed */
    /* Remove the rotation */
    /* transform: rotate(90deg); */
}

.slider-control {
    width: 50%; /* Adjust the width of the slider control */
}
  .AButton {
  position: absolute;
  top: -43%; /* Adjust this value to move the image up or down -43, 69*/
  right: 69%;
  transform: scale(3.5);
  image-rendering: pixelated;
  }
  
  .SButton {
  position: absolute;
  top: -43%; /* Adjust this value to move the image up or down */
  right: 65.5%;
  transform: scale(3.5);
  image-rendering: pixelated;
  }
  
  .DButton {
  position: absolute;
  top: -43%; /* Adjust this value to move the image up or down */
  right: 62%;
  transform: scale(3.5);
  image-rendering: pixelated;
  }
  
  .ZButton {
  position: absolute;
  top: -36.5%; /* Adjust this value to move the image up or down */
  right: 69%;
  transform: scale(3.5);
  image-rendering: pixelated;
  }
  
  .XButton {
  position: absolute;
  top: -36.5%; /* Adjust this value to move the image up or down */
  right: 65.5%;
  transform: scale(3.5);
  image-rendering: pixelated;
  }
  
  .CButton {
  position: absolute;
  top: -36.5%; /* Adjust this value to move the image up or down */
  right: 62%;
  transform: scale(3.5);
  image-rendering: pixelated;
  }
  
  .SpaceButton{
  position: absolute;
  top: -36.5%; /* Adjust this value to move the image up or down */
  right: 33.75%;
  transform: scale(3.5);
  image-rendering: pixelated;
  }
  
  .LeftButton {
  position: absolute;
  top: -43%; /* Adjust this value to move the image up or down */
  right: 34%;
  transform: scale(3.5);
  image-rendering: pixelated;
  }
  
  .DownButton {
  position: absolute;
  top: -43%; /* Adjust this value to move the image up or down */
  right: 30.5%;
  transform: scale(3.5);
  image-rendering: pixelated;
  }
  
  .RightButton {
  position: absolute;
  top: -43%; /* Adjust this value to move the image up or down */
  right: 27%;
  transform: scale(3.5);
  image-rendering: pixelated;
  }
  
  .Sixteen {
  position: absolute;
  left: calc(50% + 46.5%);
  top: 5%;
  transform: translateY(-50%);
  max-width: 2.75%;
  max-height: 2.75%;
  transition: left 0.5s; /* Add transition for smooth movement */
  cursor: pointer;
  image-rendering: pixelated;
  
  }
  
  .note-container {
  text-align: center;
  position: relative; /* Required for absolute positioning of child elements */
  }
  
  .note-text {
  position: absolute;
  top: -35rem; /* Adjust this value to move the div higher or lower */
  left: 47.75%;
  transform: translateX(-50%);
  font-family: 'Press Start 2P', cursive;
  }
  
  .note-container div {
  display: none; /* Ensure the div width is as per its content */
  }
  
  .GithubSymbol {
  position: absolute; /* or absolute, or fixed, depending on your layout needs */
  top: .85%; /* Adjust the value to move the div up */
  left: 0%;
  transform: translateX(-50%); /* Center horizontally */
  transform: scale(0.75);
  image-rendering: pixelated;
  cursor: pointer;
  }
  
  .LinkedinSymbol {
  position: absolute; /* or absolute, or fixed, depending on your layout needs */
  top: .5%; /* Adjust the value to move the div up */
  left: 3.25%;
  transform: translateX(-50%); /* Center horizontally */
  transform: scale(0.72);
  image-rendering: pixelated;
  cursor: pointer;
  }

  /* Styles for devices with a screen width of 768px or less */
@media (max-width: 1680px) {
  .AButton,
  .SButton,
  .DButton,
  .ZButton,
  .XButton,
  .CButton, 
  .SpaceButton,
  .LeftButton,
  .DownButton,
  .RightButton{
    transform: scale(3); /* Adjust this value as needed */
  }
  .GithubSymbol{
    transform: scale(0.7); /* Adjust this value as needed */
  }
  .LinkedinSymbol{
    transform: scale(0.68); /* Adjust this value as needed */
  }
  .LeftButton{
    right: 35%;
  }
  .DownButton{
    right: 31.5%;
  }
  .RightButton{
    right: 28%;
  }
  .ZButton,
  .XButton,
  .CButton,
  .SpaceButton{
    top: -37.5%; /* Adjust this value to move the image up or down */
  }
}

  /* Styles for devices with a screen width of 768px or less */
  @media (max-width: 1600px) {
    .AButton,
    .SButton,
    .DButton,
    .ZButton,
    .XButton,
    .CButton, 
    .SpaceButton,
    .LeftButton,
    .DownButton,
    .RightButton{
      transform: scale(2.9); /* Adjust this value as needed */
    }
    .GithubSymbol{
      transform: scale(0.7); /* Adjust this value as needed */
    }
    .LinkedinSymbol{
      transform: scale(0.68); /* Adjust this value as needed */
    }
    .LeftButton{
      right: 35%;
    }
    .DownButton{
      right: 31.5%;
    }
    .RightButton{
      right: 28%;
    }
    .ZButton,
    .XButton,
    .CButton,
    .SpaceButton{
      top: -37%; /* Adjust this value to move the image up or down */
    }
  }

  /* Styles for devices with a screen width of 768px or less */
  @media (max-width: 1440px) {
    .AButton,
    .SButton,
    .DButton,
    .ZButton,
    .XButton,
    .CButton, 
    .SpaceButton,
    .LeftButton,
    .DownButton,
    .RightButton{
      transform: scale(2.6); /* Adjust this value as needed */
    }
    .GithubSymbol{
      transform: scale(0.6); /* Adjust this value as needed */
    }
    .LinkedinSymbol{
      transform: scale(0.58); /* Adjust this value as needed */
    }
    .LeftButton{
      right: 35%;
    }
    .DownButton{
      right: 31.5%;
    }
    .RightButton{
      right: 28%;
    }
    .ZButton,
    .XButton,
    .CButton,
    .SpaceButton{
      top: -37.5%; /* Adjust this value to move the image up or down */
    }
    .sound-image{
      max-width: 35%;
      max-height: 35%;
    }
    .slider{
      width: 9.5%;
    }
  }

    /* Styles for devices with a screen width of 768px or less */
    @media (max-width: 1366px) {
      .AButton,
      .SButton,
      .DButton,
      .ZButton,
      .XButton,
      .CButton, 
      .SpaceButton,
      .LeftButton,
      .DownButton,
      .RightButton{
        transform: scale(2.4); /* Adjust this value as needed */
      }
      .GithubSymbol{
        transform: scale(0.55); /* Adjust this value as needed */
      }
      .LinkedinSymbol{
        transform: scale(0.52); /* Adjust this value as needed */
      }
      .LeftButton{
        right: 35.5%;
      }
      .DownButton{
        right: 32%;
      }
      .RightButton{
        right: 28.5%;
      }
      .sound-image{
        max-width: 3.5%;
        max-height: 3.5%;
      }

      .slider{
        top: 3.95%;
      }

      .note-text{
        top: -30rem;
      }
    }

      /* Styles for devices with a screen width of 768px or less */
  @media (max-width: 1280px) {
    .AButton,
    .SButton,
    .DButton,
    .ZButton,
    .XButton,
    .CButton, 
    .SpaceButton,
    .LeftButton,
    .DownButton,
    .RightButton{
      transform: scale(2.3); /* Adjust this value as needed */
    }
    .GithubSymbol{
      transform: scale(0.52); /* Adjust this value as needed */
    }
    .LinkedinSymbol{
      transform: scale(0.51); /* Adjust this value as needed */
    }
    .LeftButton{
      right: 35.5%;
    }
    .DownButton{
      right: 32%;
    }
    .RightButton{
      right: 28.5%;
    }
    .sound-image{
      max-width: 3.25%;
      max-height: 3.25%;
    }
  }
  
    /* Styles for devices with a screen width of 768px or less */
    @media (max-width: 1024px) {
      .AButton,
      .SButton,
      .DButton,
      .ZButton,
      .XButton,
      .CButton, 
      .SpaceButton,
      .LeftButton,
      .DownButton,
      .RightButton{
        transform: scale(1.9); /* Adjust this value as needed */
      }
      .GithubSymbol{
        transform: scale(0.45); /* Adjust this value as needed */
      }
      .LinkedinSymbol{
        transform: scale(0.44); /* Adjust this value as needed */
      }
      .LeftButton{
        right: 36.5%;
      }
      .DownButton{
        right: 33%;
      }
      .RightButton{
        right: 29.5%;
      }
      .ZButton,
      .XButton,
      .CButton,
      .SpaceButton{
        top: -38.5%; /* Adjust this value to move the image up or down */
      }
    }

     /* Styles for devices with a screen width of 768px or less */
     @media (max-height: 600px) {
      .ZButton,
      .XButton,
      .CButton,
      .SpaceButton{
        top: -37.5%; /* Adjust this value to move the image up or down */
      }
    }
    
    
  
  
 